---
import { For, When } from "@astropub/flow";
import { Debug } from "astro/components"

import type { ApiEntityFrontmatter, User } from "../models";

import MenuSidebar from "../components/menu-sidebar.svelte";
import TranslateString from "../components/translate-string.svelte";
import PageLayout from "./page-layout.astro";

import { USERS } from "../static-data";

interface Props {
  title: string;
  headings: unknown[];
  frontmatter: ApiEntityFrontmatter;
}

const { headings, frontmatter } = Astro.props as Props;
const currentPagePathname = new URL(Astro.request.url).pathname;

const contributors: readonly User[] = frontmatter.contributorNicknames
  .reduce<string[]>((acc, curr) => {
    if (!acc.includes(curr)) {
      acc.push(curr)
    }

    return acc
  }, [])
  .map<User>(
    (nickname: string) => {
      if (!Reflect.has(USERS, nickname)) {
        throw new TypeError(
          `Не известный контрибютор с никнеймом="${nickname}". Сначала нужно добавить его в список всех контрибюторов`
        );
      }

      return Reflect.get(USERS, nickname);
    }
  );
---

<PageLayout title={frontmatter.title}>
  <div class="wrap">
    <main
      class="sm:grid sm:grid-cols-[1fr_1fr_1fr] items-stretch justify-center"
    >
      <aside class="hidden sm:block border-r py-12 pr-8">
        <MenuSidebar currentPagePathname={currentPagePathname} />
      </aside>

      <div>
        <article class="max-w-[70ch] p-4 sm:py-12 sm:px-16">
          <div class="flex flex-col gap-2 mb-8">
            <h1 class="text-4xl font-bold">{frontmatter.title}</h1>
            <ul class="flex gap-2 text-xs">
              <li>
                <span
                  class="bg-green-700 text-white px-2 py-1 rounded select-none uppercase"
                >
                  <TranslateString
                    key={`entities.kind.${frontmatter.kind.toLowerCase()}`}
                  />
                </span>
              </li>
              <li>
                <span
                  class="text-white px-2 py-1 rounded select-none bg-zinc-500 uppercase"
                  ><TranslateString
                    key={`entities.status.${frontmatter.status.toLowerCase()}`}
                  />
                </span>
              </li>
              <When {frontmatter.isOperator}>
                <li>
                  <span
                    class="text-white px-2 py-1 rounded select-none bg-red-500 uppercase"
                  >
                    <TranslateString key="entities.status.operator" />
                  </span>
                </li>
              </When>
            </ul>
          </div>

          <div class="prose prose-a:break-words">
            <slot />
          </div>
        </article>

        <div class="flex flex-col gap-4 border-t p-4 sm:py-12 sm:px-16">
          <h2 class="text-2xl font-bold">Контрибьюторы</h2>

          <ul class="grid gap-4 grid-cols-3">
            <For items={contributors}>{(contributor) => (
              <li class="flex gap-2 items-center">
                <img class="object-cover w-8 h-8 rounded-full" src={contributor.avatarUrl} alt={`Аватар контрибютора ${ contributor.name }`}>
                <span class="text-lg">
                  <a class="like-link" href={`/authors/${ contributor.nickname }`}>{contributor.name}</a>
                </span>
              </li>
            )}</For>
          </ul>
        </div>
      </div>

      <aside class="hidden sm:block border-l py-12 pl-8">
        <div class="sticky top-6 flex flex-col gap-6 text-gray-600">
          <div>
            <h2 class="font-bold uppercase mb-2 text-black">Содержание</h2>
            <ul class="flex flex-col gap-1">
              {
                headings.map((header: any) => {
                  return (
                    <li
                      class="leading-none"
                      style={{
                        "--level": header.depth - 2,
                        "padding-inline-start": "calc(var(--level) * 1.5rem)",
                      }}
                    >
                      <a class="like-link" href={`#${header.slug}`}>
                        {header.text.replace(" ⌗", "")}
                      </a>
                    </li>
                  );
                })
              }
            </ul>
          </div>

          <div>
            <h2 class="font-bold uppercase mb-2 text-black">Вклад</h2>

            <ul>
              <li><a class="like-link" href="">Редактировать страницу</a></li>
              <li><a class="like-link" href="">Помочь с переводом</a></li>
            </ul>
          </div>

          <div>
            <h2 class="font-bold uppercase mb-2 text-black">Сообщество</h2>

            <ul>
              <li>
                <a class="like-link" href=""
                  >Присоединяйтесь к нам в телеграм-чате</a
                >
              </li>
              <li><a class="like-link" href="">Читайте наш блог</a></li>
              <li><a class="like-link" href="">Гитхаб документации</a></li>
            </ul>
          </div>
        </div>
      </aside>
    </main>
  </div>
</PageLayout>
