---
import BaseLayout from "./base.layout.astro";
import Header from "../components/header.svelte";
import Footer from "../components/footer.svelte";
import MenuSidebar from "../components/menu-sidebar.svelte";
import type { MenuItem } from "../models";

const menuItems: readonly MenuItem[] = [
  {
    type: "GROUP",
    title: "Обзор",
    links: [
      {
        type: "LINK",
        title: "Введение",
        url: "/guide/overview",
      },
      {
        type: "LINK",
        title: "Потоки",
        url: "/guide/observables",
      },
      {
        type: "LINK",
        title: "Наблюдатель",
        url: "/guide/observer",
      },
      {
        type: "LINK",
        title: "Операторы",
        url: "/guide/operators",
      },
      {
        type: "LINK",
        title: "Подписки",
        url: "/guide/subscription",
      },
      {
        type: "LINK",
        title: "Сабжекты",
        url: "/guide/subject",
      },
      {
        type: "LINK",
        title: "Шедулеры",
        url: "/guide/schediler",
      },
      {
        type: "LINK",
        title: "Marble тестирование",
        url: "/guide/testing/marble-testing",
      },
    ],
  },
  {
    type: "LINK",
    title: "Установка",
    url: "/guide/installation",
  },
  {
    type: "LINK",
    title: "Импортинг",
    url: "/guide/importing",
  },
];

const { frontmatter, headings } = Astro.props;
const currentPagePathname = new URL(Astro.request.url).pathname;
---

<BaseLayout title={frontmatter.title}>
  <Header />

  <div class="wrap">
    <main
      class="sm:grid sm:grid-cols-[1fr_1fr_1fr] items-stretch justify-center"
    >
      <aside class="hidden sm:block border-r py-12 pr-8">
        <MenuSidebar
          menuItems={menuItems}
          currentPagePathname={currentPagePathname}
        />
      </aside>

      <div class="p-4 sm:py-12 sm:px-16">
        <article class="max-w-[70ch]">
          <div class="flex flex-col gap-2 mb-8">
            <h1 class="text-4xl font-bold">{frontmatter.title}</h1>
          </div>

          <div class="prose prose-a:break-words">
            <slot />
          </div>
        </article>
      </div>

      <aside class="hidden sm:block border-l py-12 pl-8">
        <div class="sticky top-6 flex flex-col gap-6 text-gray-600">
          <div>
            <h2 class="font-bold uppercase mb-2 text-black">Содержание</h2>
            <ul class="flex flex-col gap-1">
              {
                headings.map((header: any) => {
                  return (
                    <li
                      class="leading-none"
                      style={{
                        "--level": header.depth - 2,
                        "padding-inline-start": "calc(var(--level) * 1.5rem)",
                      }}
                    >
                      <a class="like-link" href={`#${header.slug}`}>
                        {header.text.replace(" ⌗", "")}
                      </a>
                    </li>
                  );
                })
              }
            </ul>
          </div>

          <div>
            <h2 class="font-bold uppercase mb-2 text-black">Вклад</h2>

            <ul>
              <li><a class="like-link" href="">Редактировать страницу</a></li>
              <li><a class="like-link" href="">Помочь с переводом</a></li>
            </ul>
          </div>

          <div>
            <h2 class="font-bold uppercase mb-2 text-black">Сообщество</h2>

            <ul>
              <li>
                <a class="like-link" href=""
                  >Присоединяйтесь к нам в телеграм-чате</a
                >
              </li>
              <li><a class="like-link" href="">Читайте наш блог</a></li>
              <li><a class="like-link" href="">Гитхаб документации</a></li>
            </ul>
          </div>
        </div>
      </aside>
    </main>
  </div>

  <Footer />
</BaseLayout>
